# --- Repository Access & CI/CD ---
GITLAB_DEPLOY_TOKEN=
CI_PIMELEON_APPS_PUSH_TOKEN=

# --- Build Configuration ---
BUILDER_GO_VERSION=1.24.0
APT_PROXY=192.168.76.5:3142

# --- Operational Settings ---
# Leave empty or set to "false" to disable proxy
USE_PROXY=

# --- Additional Tokens for CI/CD Fallback/External ---
GITLAB_TOKEN=
GITHUB_REGISTRY_PUSH_TOKEN=
